<style>
  :host {
    display: contents;
  }

  .panel {
    font-size: 14px;
    overflow: hidden;
    text-align: left;
    height: 100%;

    background: var(--mszgs-timetable-background, var( --mszgs-timetable-background-default));
    border: 2px solid;
    border-color: var(--mszgs-timetable-item-primary-color ,var(--mszgs-timetable-item-primary-color-default));
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--mszgs-timetable-color-default, var(--mszgs-timetable-color));
    scrollbar-color: #333 #666;
  }

  .panel-heading {
    background-color: var(--mszgs-timetable-item-primary-color ,var(--mszgs-timetable-item-primary-color-default));
    border-bottom: 2px solid;
    border-color: var(--mszgs-timetable-item-primary-color ,var(--mszgs-timetable-item-primary-color-default));
    padding: 5px;
  }

  .panel-body {
    padding: 7.5px;
  }
</style>

<div class="panel">
  <div class="panel-heading">
    <span id="title"> </span>
  </div>
  <div class="panel-body">
      <slot></slot>
    </span>
  </div>
</div>
