<style>
    :host{
        display: contents;
    }

    #line {
        border-top: 2px solid;
        border-color: var(--mszgs-timetable-border-color, var(--mszgs-timetable-border-color-default));
        grid-column: start / end;
        z-index: -1;
    }
    #label{
        border-top: 2px solid;
        border-right: 2px solid;
        border-color: var(--mszgs-timetable-border-color, var(--mszgs-timetable-border-color-default));

        grid-column: 1;
        padding-top: 5px;
        position: sticky;
        left: 0;
        background: var(--mszgs-timetable-header-background, var( --mszgs-timetable-header-background-default));
    }
</style>

<div id="line"></div>
<div id="label"></div>