<style>
  /*
  Props:
  --mszgs-timetable-header-label-monday
  --mszgs-timetable-header-label-tuesday
  --mszgs-timetable-header-label-wednesday
  --mszgs-timetable-header-label-thursday
  --mszgs-timetable-header-label-friday
  --mszgs-timetable-header-label-saturday
  --mszgs-timetable-header-label-sunday
  --mszgs-timetable-min-width
  */

  :host {
    --mszgs-timetable-background-default: #222;
    --mszgs-timetable-header-background-default: var(--mszgs-timetable-background-default);
    --mszgs-timetable-color-default: #faf7ff;
    --mszgs-timetable-border-color-default: #faf7ff;
    --mszgs-timetable-item-primary-color-default: #337ab7;
    --mszgs-timetable-item-border-radius-default: 5px;
    --mszgs-timetable-min-width-default: 1000px;
    --mszgs-timetable-font-family-default:  "Helvetica Neue", Helvetica, Arial, sans-serif;

    font-family: var(--mszgs-timetable-font-family, var(--mszgs-timetable-font-family-default));
    overflow: auto;
    max-height: 100vh;
    max-width: 100vw;
    position: relative;
    display: block;
  }

  @media (prefers-color-scheme: light) {
    :host{
      --mszgs-timetable-background-default: #faf7ff;
      --mszgs-timetable-header-background-default: var(--mszgs-timetable-background-default);
      --mszgs-timetable-color-default: black;
      --mszgs-timetable-border-color-default: black;
      --mszgs-timetable-item-primary-color-default: #337ab7;
    }
  }

  .header{
    grid-row: header;
    position: sticky;
    height: 100%;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .monday {
    grid-column: c0 / c1;
  }

  .monday::after {
    content: var(--mszgs-timetable-header-label-monday, "Monday");
  }

  .tuesday {
    grid-column: c1 / c2;
  }

  .tuesday::after {
    content: var(--mszgs-timetable-header-label-tuesday, "Tuesday");
  }

  .wednesday {
    grid-column: c2 / c3;
  }

  .wednesday::after {
    content: var(--mszgs-timetable-header-label-wednesday, "Wednesday");
  }

  .thursday {
    grid-column: c3 / c4;
  }

  .thursday::after {
    content: var(--mszgs-timetable-header-label-thursday, "Thursday");
  }

  .friday {
    grid-column: c4 / c5;
  }

  .friday::after {
    content: var(--mszgs-timetable-header-label-friday, "Friday");
  }

  .saturday {
    grid-column: c5 / c6;
  }

  .saturday::after {
    content: var(--mszgs-timetable-header-label-saturday, "Saturday");
  }

  .sunday {
    grid-column: c6 / c7;
  }

  .sunday::after {
    content: var(--mszgs-timetable-header-label-sunday, "Sunday");
  }

  .grid {
    display: grid;
    width: 100%;
    height: 100%;
    position: relative;
    background: var(--mszgs-timetable-background, var( --mszgs-timetable-background-default));
    color: var(--mszgs-timetable-color, var(--mszgs-timetable-color-default));
    min-width: var(--mszgs-timetable-min-width, var(--mszgs-timetable-min-width-default));
    transition: all 1s;
    z-index: 0;
  }

  div {
    text-align: center;
    position: relative;
  }

  .contents {
    display: contents;
  }

  .grid-line {
    border-top: 2px solid;
    border-color: var(--mszgs-timetable-border-color, var(--mszgs-timetable-border-color-default));
    grid-column: start / end;
    z-index: -1;
  }

  #header {
    background: var(--mszgs-timetable-header-background, var( --mszgs-timetable-header-background-default));
    border-bottom: 2px solid;
    border-color: var(--mszgs-timetable-border-color, var(--mszgs-timetable-border-color-default));
    grid-column: start/end;
    width: 100%;
    height: 100%;
  }
</style>
  <div class="grid">
    <div id="timeline" class="contents">
    </div>
    <div class="contents">
      <div id="header" class="header"></div>
      <div id="monday"    class="header monday"></div>
      <div id="tuesday"   class="header tuesday"></div>
      <div id="wednesday" class="header wednesday"></div>
      <div id="thursday"  class="header thursday"></div>
      <div id="friday"    class="header friday"></div>
      <div id="saturday"  class="header saturday"></div>
      <div id="sunday"    class="header sunday"></div>
    </div>
    <div id="items" class="contents">
      <slot></slot>
    </div>
</div>
