mszgs-timetable {
    --mszgs-timetable-background: #222;
    --mszgs-timetable-header-background: #222;
    --mszgs-timetable-color: #faf7ff;
    --mszgs-timetable-border-color: #faf7ff;
    --mszgs-timetable-item-primary-color: #337ab7;
}
