mszgs-timetable {
    --mszgs-timetable-background: #faf7ff;
    --mszgs-timetable-header-background: #faf7ff;
    --mszgs-timetable-color: black;
    --mszgs-timetable-border-color: black;
    --mszgs-timetable-item-primary-color: #337ab7;
}